#calculatorScreen {
  font-family: "Orbitron", sans-serif;
  background-color: rgba(233, 166, 89, 0.699);
  color: black;
  border: solid black 3px;
  border-radius: 5px;
  margin-bottom: 10px;
}

#calculatorScreenInput {
  text-align: left;
  font-size: x-small;
}

#calculatorScreenAnswer {
  text-align: right;
  font-size: xx-large;
}
